/Hardware_Altium/FV1Buddy/History
/Hardware_Altium/FV1Buddy/Project Logs for FV1Buddy
/Hardware_Altium/FV1Buddy/__Previews
/FV1Buddy.X/.generated_files/
/FV1Buddy.X/dist/
/FV1Buddy.X/nbproject/
/FV1Buddy.X/.gitignore
/FV1Buddy.X/build
/FV1Buddy.X/Makefile